<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php" colors="true">

    <php>
        <!--
        <env name="PASSBOOK_TEST_P12" value="pass.com.example.testpass.p12" />
        <env name="PASSBOOK_TEST_PASS" value="123456" />
        <env name="PASSBOOK_TEST_WWDR" value="wwdr.pem" />
        <env name="PASSBOOK_TEST_TYPE_ID" value="pass.com.example.testpass" />
        <env name="PASSBOOK_TEST_TEAM_ID" value="ABCDE12345" />
        <env name="PASSBOOK_TEST_ORG_NAME" value="Organization Name" />
        -->
    </php>

    <testsuites>
        <testsuite name="PHP-Passbook Test Suite">
            <directory>tests/Passbook/Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/Passbook/</directory>
        </whitelist>
    </filter>
</phpunit>