<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="PHP-Passbook Test Suite">
            <directory>tests/Passbook/Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/Passbook/</directory>
        </whitelist>
    </filter>
</phpunit>